body {
    text-align: center;
    font-size: 34px;
    font-family: cursive;
}

.congo1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(2, 2, 2, 0.952);
    opacity: 1;
}

.congo {
    background-color: #c51862f6;
    width: 660px;
    height: 660px;
    text-align: center;
    border-radius: 8px;
    padding: 40px;
    margin: 30px auto 0;
}

.playagain {
    width: 150px;
    color: white;
    height: 40px;
    background-color: #3fac3f;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}

.playagain:hover {
    background-color: white;
    border: 1px solid green;
    color: green;
}

.rotate {
    animation: rotate 1s ease 0s 1 normal;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.bounceInDown {
    animation-name: bounceInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes bounceInDown {
    0%,
    60%,
    75%,
    90%,
    100% {
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        transform: translate3d(0, -3000px, 0);
    }
    60% {
        opacity: 1;
        transform: translate3d(0, 25px, 0);
    }
    75% {
        transform: translate3d(0, -10px, 0);
    }
    90% {
        transform: translate3d(0, 5px, 0);
    }
    100% {
        transform: none;
    }
}